{include file="public/header" /}
<div class="layui-fluid wrapper animated fadeIn">
    <div class="layui-row">
        <div class="layui-col-md*">
            <h3 class="ibox-title">修改账户资料</h3>
            <div class="ibox-content">
                <form class="layui-form" action="/manage/{$user.userid}/edit" method="GET">
                    <input type="hidden" name="do" value="edit">
                    <div class="layui-form-item">
                        <label class="layui-form-label">用户名：</label>
                        <div class="layui-input-inline">
                            <input type="text" name="username" required  lay-verify="required" placeholder="输入用户名" autocomplete="off" class="layui-input" value="{$user.username}" disabled="">
                        </div>
                        <div class="layui-form-mid layui-word-aux">用户名禁止修改</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">密码：</label>
                        <div class="layui-input-inline">
                          <input type="password" name="password" placeholder="请输入密码" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">登录密码 (不修改密码请留空)</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">密码：</label>
                        <div class="layui-input-inline">
                          <input type="password" name="pwdconfirm" placeholder="请重复输入密码" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">重复密码 (不修改密码请留空)</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">E-mail：</label>
                        <div class="layui-input-block">
                            <input type="text" name="email" required  lay-verify="required" placeholder="输入邮箱" autocomplete="off" class="layui-input" value="{$user.email}">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">真实姓名：</label>
                        <div class="layui-input-block">
                            <input type="text" name="realname" required  lay-verify="required" placeholder="真实姓名" autocomplete="off" class="layui-input" value="{$user.realname}">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">角色：</label>
                        <div class="layui-input-block">
                            <select name="roleid" required lay-verify="required">
                                <option value="">选择角色</option>
                                {volist name="roles" id="vo"}
                                <option value="{$vo.roleid}" {eq name="vo.roleid" value="$user.roleid"}selected{/eq}>{$vo.rolename}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="editUser">修改</button>
                            <a href="/manage" class="layui-btn layui-btn-primary">返回</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
$(function(){
  layui.use('form', function(){ 
    var form = layui.form //获取form模块 

    form.on('submit(editUser)', function(data){
        //layer.msg(JSON.stringify(data.field));
        return true;
    });

  });
});
</script>
{include file="public/footer" /}