{include file="public/header" /}
<div class="layui-fluid wrapper animated fadeInRight">
    <div class="layui-row">
        <div class="layui-col-md*">
            <h3 class="ibox-title">管理员管理 | <button type="button" class="layui-btn layui-btn-sm">添加管理员</button></h3>
            <div class="ibox-content">
                <table id="data-list"></table>
            </div>
        </div>
    </div>
</div>
<script>
$(function(){
  layui.use('table', function(){ 
    var table = layui.table //获取table模块
    table.render({
      elem: '#data-list',
      height: 480,
      url: '/admin/manage',
      cols: [[
        {field: 'userid', title: '序号', width:80, fixed: 'left'},
        {field: 'username', title: '用户名', width:120},
        {field: 'rolename', title: '所属角色', width:120},
        {field: 'lastloginip', title: '最后登录IP',},
        {field: 'lastlogintime', title: '最后登录时间'},
        {field: 'email', title: 'E-mail', width: 200},
        {field: 'realname', title: '真实名字'}
      ]]
    });
  });
});
</script>
{include file="public/footer" /}
