{include file="public/header" /}
<div class="layui-fluid wrapper animated fadeIn">
    <div class="layui-row">
        <div class="layui-col-md*">
            <h3 class="ibox-title">个人资料</h3>
            <div class="ibox-content">
                <!-- <div>最后登录时间：{$user.lastlogintime|date='Y-m-d H:i:s',###}</div>
                <div>最后登录ip：{$user.lastloginip}</div> -->
                <form class="layui-form" action="/admin/manage/profile" method="POST">
                    <div class="layui-form-item">
                        <label class="layui-form-label">用户名：</label>
                        <div class="layui-input-block">
                            <input type="text" name="username" required  lay-verify="required" placeholder="输入用户名" autocomplete="off" class="layui-input" value="{$user.username}" disabled="">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">角色：</label>
                        <div class="layui-input-block">
                            <select name="roleid" lay-verify="required" disabled="">
                                <option value="">选择角色</option>
                                {volist name="roles" id="vo"}
                                <option value="{$vo.roleid}" {eq name="vo.roleid" value="$user.roleid"}selected{/eq}>{$vo.rolename}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">真实名字：</label>
                        <div class="layui-input-block">
                            <input type="text" name="realname" required lay-verify="required" placeholder="输入真实名字" autocomplete="on" class="layui-input" value="{$user.realname}" >
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">E-mail：</label>
                        <div class="layui-input-block">
                            <input type="text" name="email" required lay-verify="required" placeholder="输入邮箱" autocomplete="on" class="layui-input" value="{$user.email}" >
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="formDemo">修改</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
$(function(){
  layui.use('form', function(){ 
    var form = layui.form //获取form模块 
  });
});
</script>
{include file="public/footer" /}
