{include file="public/header" /}
<div class="layui-fluid wrapper animated fadeIn">
    <div class="layui-row">
        <div class="layui-col-md*">
            <h3 class="ibox-title">添加外部链接</h3>
            <div class="ibox-content">
                <form class="layui-form" action="/category" method="POST">
                    <input type="hidden" name="typeid" value="2">
                    <div class="layui-form-item">
                        <label class="layui-form-label">上级菜单：</label>
                        <div class="layui-input-inline">
                            <select name="parentid" required lay-verify="required">
                                <option value="0">作为一级菜单</option>
                                {volist name="cates" id="vo"}
                                <option value="{$vo.cateid}" {eq name="$vo.cateid" value="$parentid"}selected{/eq}>{$vo.catename}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">栏目名称：</label>
                        <div class="layui-input-inline">
                            <input type="text" name="catename" required  lay-verify="required" placeholder="输入栏目名称" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">英文目录：</label>
                        <div class="layui-input-inline">
                            <input type="text" name="menuicon" placeholder="输入英文目录" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">栏目图片：</label>
                        <div class="layui-input-inline">
                            <input type="text" name="route" required  lay-verify="required" placeholder="选择栏目图片" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-input-inline"><button class="layui-btn layui-btn-normal"><i class="layui-icon">&#xe67c;</i>选择图片</button></div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">栏目介绍：</label>
                        <div class="layui-input-inline">
                            <textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">是否显示</label>
                        <div class="layui-input-block">
                            <input type="radio" name="display" value="1" title="显示" checked>
                            <input type="radio" name="display" value="0" title="隐藏">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="addMenu">添加</button>
                            <a href="/category" class="layui-btn layui-btn-primary">返回</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
$(function(){
  layui.use('form', function(){ 
    var form = layui.form //获取form模块 

    form.on('submit(addMenu)', function(data){
        //layer.msg(JSON.stringify(data.field));
        return true;
    });

  });
});
</script>
{include file="public/footer" /}