{include file="public/header" /}
<div class="layui-fluid wrapper animated fadeIn">
    <div class="layui-row">
        <div class="layui-col-md*">
            <h3 class="ibox-title">修改菜单</h3>
            <div class="ibox-content">
                <form class="layui-form" action="/menu/{$menu.menuid}/edit" method="GET">
                    <input type="hidden" name="do" value="edit">
                    <div class="layui-form-item">
                        <label class="layui-form-label">上级菜单：</label>
                        <div class="layui-input-inline">
                            <select name="parentid" required lay-verify="required">
                                <option value="0">作为一级菜单</option>
                                {volist name="menus" id="vo"}
                                <option value="{$vo.menuid}" {eq name="vo.menuid" value="$menu.parentid"}selected{/eq}>{$vo.menuname}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">菜单名称：</label>
                        <div class="layui-input-inline">
                            <input type="text" name="menuname" required  lay-verify="required" placeholder="输入菜单名称" autocomplete="off" class="layui-input" value="{$menu.menuname}">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">菜单图标：</label>
                        <div class="layui-input-inline">
                            <input type="text" name="menuicon" placeholder="输入菜单图标" autocomplete="off" class="layui-input" value="{$menu.menuicon}">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">路由地址：</label>
                        <div class="layui-input-inline">
                            <input type="text" name="route" required  disabled="" lay-verify="required" placeholder="输入路由地址" autocomplete="off" class="layui-input" value="{$menu.route}">
                        </div>
                        <div class="layui-form-mid layui-word-aux">格式："/模块/控制器/方法"（禁止修改）</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">是否显示</label>
                        <div class="layui-input-block">
                            <input type="radio" name="display" value="1" title="显示" {eq name="menu.display" value="1" }checked{/eq}>
                            <input type="radio" name="display" value="0" title="隐藏" {eq name="menu.display" value="0" }checked{/eq}>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">排序：</label>
                        <div class="layui-input-inline">
                            <input type="text" name="listorder" required  lay-verify="required" placeholder="输入排序数字" autocomplete="off" class="layui-input" value="{$menu.listorder}">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="editMenu">修改</button>
                            <a href="/menu" class="layui-btn layui-btn-primary">返回</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
$(function(){
  layui.use('form', function(){ 
    var form = layui.form //获取form模块 

    form.on('submit(editMenu)', function(data){
        //layer.msg(JSON.stringify(data.field));
        return true;
    });

  });
});
</script>
{include file="public/footer" /}