<div class="footer">
    <div class="wrap">
        <div class="link">
            <dl>
                <dt>网站导航</dt>
                <dd><a href="javascript:void(0)">家政服务</a></dd>
                <dd><a href="javascript:void(0)">企业服务</a></dd>
                <dd><a href="javascript:void(0)">口碑阿姨</a></dd>
                <dd><a href="javascript:void(0)">我要入驻</a></dd>
            </dl>
            
            <dl>
                <dt>热门服务</dt>
                <dd><a href="javascript:void(0)">家庭保洁</a></dd>
                <dd><a href="javascript:void(0)">家庭保洁</a></dd>
                <dd><a href="javascript:void(0)">家庭保洁</a></dd>
                <dd><a href="javascript:void(0)">家庭保洁</a></dd>
                <dd><a href="javascript:void(0)">家庭保洁</a></dd>
                <dd><a href="javascript:void(0)">家庭保洁</a></dd>
                <dd><a href="javascript:void(0)">家庭保洁</a></dd>
                <dd><a href="javascript:void(0)">家庭保洁</a></dd>
                <dd><a href="javascript:void(0)">家庭保洁</a></dd>                      
            </dl>
            
            <dl>
                <dt>联系我们</dt>
                <dd>客服热线：400-5896-5056</dd>
                <dd>市场合作邮箱：132156151@qq.com</dd>
                <dd>市场合作邮箱：132156151@qq.com</dd>
            </dl>

            
            <div class="ewm fr">
                <img src="__STATIC__/images/code.jpg" title="扫描下载I家家政APP"/>
                <p><a href="javascript:void(0)">扫描下载I家家政APP</a></p>
            </div>
        </div>
        
        
        <div class="copyright">

            <p>@2017 aijia.com 爱家家政版权所有 京ICP备564654号       星谷网络科技有限公司                  京公网安备 165665489498号</p>
        </div>
    </div>
</div>
<!--/页脚 -->
</body>
</html>